@model DataAccess.cnf_locations

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cnf_locations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.location_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight_unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight_unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volume_unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volume_unit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
