@model DataAccess.cnf_locations

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Location Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location_code)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            City
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            State
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
           Country
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
           Region
        </dt>

        <dd>
            @Html.DisplayFor(model => model.region)
        </dd>

        <dt>
           Area Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pin)
        </dd>

        <dt>
           Weight Unit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight_unit)
        </dd>

        <dt>
            Volume Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volume_unit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
